
@{
    ViewBag.Title = "StandardHelper";
}

<h2>StandardHelper</h2>
@using (Html.BeginForm("StandardHelper", "HtmlHelperDemo"))
{

    <label>ID:</label>@Html.TextBox("Id")
    <br />
    <br />
    <label>Full Name:</label>@Html.TextBox("Name")
    <br />
    <br />
    <label>Gender:</label>
    @Html.RadioButton("Gender", "male")<label>Male</label>
    @Html.RadioButton("Gender", "female")<label>FeMale</label>
    @Html.RadioButton("Gender", "other")<label>Other</label>
    <br />
    <br />
    <label>Qualification:</label>
    @Html.DropDownList("Qualification", new SelectList(ViewBag.Qualification),
                        "-Select Qualification-")
    <br />
    <br />
    <label>City:</label>
    @Html.DropDownList("City","-Select City-")
    <br />
    <br />
    <input type="submit"  value="Register"/>
    @Html.

}


